/* all app scss styles here */
@mixin transition($kind, $duration) {
	-o-transition: $kind $duration;
	-ms-transition: $kind $duration;
	-moz-transition: $kind $duration;
	-webkit-transition: $kind $duration;
	transition: $kind $duration;
}

$headerHeight: 90px;
$headerHeightMin: 50px;
$siteHeaderHeight: 120px;
$breadcrumbsHeight: 50px;

@media #{$screen} {
	
	.button {
		&.light {
			border: 1px solid $border-color;
			background-color: $light-background;
			color: $secondary-color;
			&:hover, &.active {
				background-color: $base;
				color: $white;
			}
		}
		i.fa {
			color: $white;
			font-size: 1.2rem;
			margin-right: 10px;
		}
	}
	
	.hidden {
		display: none;
	}
	
	.box {
		padding: 20px;
	}
	
	.rounded {
		border-radius: 4px 4px 4px 4px !important;
	}
	
	.roundedTop {
		border-radius: 4px 4px 0 0 !important;
	}
	
	.roundedBottom {
		border-radius: 0 0 4px 4px !important;
	}
	
	.lightGrey {
		background-color: $white-smoke;
	}
	
	.dark {
		background-color: rgba(0,0,0,0.05); 
	}
	
	.light {
		background-color: rgba(255,255,255,0.6); 
	}
	
	.profileColor {
		background-color: $secondary-color;
	}
	
	.smallText {
		font-size: 0.9rem;
	}
	
	.infoText {
		min-height: 90px;
		&:before {
			content: "\f05a";
			font-family: FontAwesome;
			color: $tertiary-color;
			font-size: 3rem;
			width: 60px;
			height: 60px;
			border-radius: 60px;
			background-color: $white;
			float: left;
			text-align: center;
			line-height: 60px;
			box-shadow: 0 0 2px rgba(0,0,0,0.3);
			margin-right: 15px;
		}
		p {
			font-size: 0.9rem;
			font-style: italic;
			margin-bottom: 0;
		}
	}
	
	i.fa {
		color: $tertiary-color;
	}
	
	.has-tip {
		border-bottom: none;
	}
	
	.linkIcon {
		&:before {
			content: "\f105";
			font-family: FontAwesome;
			margin: 0;
			width: 20px;
			display: inline-block;
			text-align: center;
			color: $tertiary-color;
		}
		&.txt {
			&:before {
				content: "\f15c";
			}
		}
		&.prd {
			&:before {
				content: "\f1b2";
			}
		}
		&.geo {
			&:before {
				content: "\f041";
			}
		}
		&.prs {
			&:before {
				content: "\f007";
			}
		}
		&.adm {
			&:before {
				content: "\f13e";
			}
		}
		&.sta {
			&:before {
				content: "\f080";
			}
		}
		&.add {
			&:before {
				content: "\f055";
			}
		}
		&.bdr {
			&:before {
				content: "\f0f7";
			}
		}
		&.ref {
			&:before {
				content: "\f03e";
			}
		}
		&.abn {
			&:before {
				content: "\f09d";
			}
		}
		&.glr {
			&:before {
				content: "\f030";
			}
		}
		&.prj {
			&:before {
				content: "\f005";
			}
		}
		&.kmp {
			&:before {
				content: "\f1ea";
			}
		}
		&.upg {
			&:before {
				content: "\f013";
			}
		}
		&.inv {
			&:before {
				content: "\f0d6";
			}
		}
		&.upd {
			&:before {
				content: "\f0c7";
			}
		}
	}
	
	.linkIconRight {
		&:after {
			content: "\f105";
			font-family: FontAwesome;
			margin: 0 0 0 5px;
			color: $tertiary-color;
		}
	}
	
	.formBox {
		textarea {
			min-height: 265px;
		}
	}
	
	.select2 {
		input {
			margin-bottom: 0;
			height: auto;
		}
	}
	
	.bold {
		font-weight: 500;
	}
	
	.border {
		border: 1px solid $border-color;
	}
	
	.border-top {
		border-top: 1px solid $border-color;
	}
	
	.border-bottom {
		border-bottom: 1px solid $border-color;
	}
	
	.padding30px {
		padding: 30px 0;
	}
	
	.boxPadding {
		padding: 15px;
	}
	
	a {
		color: $secondary-color;
		&:hover {
			color: $tertiary-color;
		}
		i.fa {
			color: $tertiary-color;
		}
	}
	
	a.readmore {
		font-weight: bold;
	}
	
	.button {
		background-color: $secondary-color;
		border-radius: 6px 6px 6px 6px;
		&:hover {
			background-color: $dark-seconary;
		}
		&.facebook {
			background-color: #3B5998;
			min-width: 300px;
			text-align: center;
			display: inline-block;
		}
		&.linkedin {
			background-color: #0077B5;
			min-width: 300px;
			text-align: center;
			display: inline-block;
		}
	}
	
	.formModal {
		max-width: 900px;
	}
	
	#locationModal {
		max-width: 700px;
		.button {
			padding: 0.533333rem;
			border-radius: 0;
			width: 100%;
			border: 1px solid $oil;

			&.ajax-error
			{
				background-color: #ca0029;
				border-color: #ca0029;
			}
		}
		p {
			margin-bottom: 5px;
		}
		select, input[type="text"] {
			width: 95%;
		}
	}
	
	.leftFloat50 {
		float: left;
		width: 48%;
	}
	
	.rightFloat50 {
		float: right;
		width: 48%;
	}
	
	.gradient1 {
		background: $secondary-color; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient($secondary-color, $dark-seconary); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($secondary-color, $dark-seconary); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($secondary-color, $dark-seconary); /* For Firefox 3.6 to 15 */
		background: linear-gradient($secondary-color, $dark-seconary); /* Standard syntax */
	}
	
	.gradient2 {
		background: $border-color; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient($light-background, $white); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($light-background, $white); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($light-background,  $white); /* For Firefox 3.6 to 15 */
		background: linear-gradient($light-background,  $white); /* Standard syntax */
	}
	
	.gradient3 {
		background: $border-color; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient($light-background, $border-color); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($light-background, $border-color); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($light-background, $border-color); /* For Firefox 3.6 to 15 */
		background: linear-gradient($light-background, $border-color); /* Standard syntax */
	}
	
	.articleListImg {
		background-color: $light-background;
		height: 150px;
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
		img {
			position: absolute;
			top: -100%;
			right: -100%;
			bottom: -100%;
			left: -100%;
			margin: auto;
			max-height: none;
			min-height: 100%;
			max-width: none;
			min-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	
	.orbit-slide-number, .orbit-timer {
		display: none;
	}
	
	.text-right {
		text-align: right;
	}
	
	.tetxt-center {
		text-align: center;
	}
	
	.menuBox {
		min-height: 200px;
		ul {
			margin: 0;
			list-style-type: none;
		}
		&#subscriptionBox {
			p {
				background-color: $tertiary-color;
				margin: 0 0 10px 0;
				padding: 5px;
				text-align: center;
				color: $white;
				border-radius: 6px 6px 6px 6px;
				a {
					color: $white;
				}
			}
		}
	}
	
	.tabs {
		.tab-title {
			> a {
				background-color: $white;
				border-top: 1px solid $light-background;
				border-right: 1px solid $light-background;
			}
			&:first-child {
				border-left: 1px solid $light-background;
			}
			&.active {
				> a {
					background-color: $light-background;
				}
			}
			&:hover {
				> a {
					background-color: $light-background;
				}
			}
		}
	}
	
	.tabs-content {
		margin-bottom: 0;
		> .content {
			padding: 0;
			min-height: 300px;
		}
	}
	
	input.cropit-image-input {
	  display: none;
	  height: 1px;
	  overflow: hidden;
	  margin-bottom: 0;
	}
	
	.cropit-preview-background {
	  opacity: .2;
	}
	
	
	input.cropit-image-zoom-input {
	  position: relative;
	  height: 35px;
	}
	
	#image-cropper {
	  overflow: hidden;
	  img {
		  max-width: none;
	  }
	}
	
	
	.icon-image {
		height: 35px;
		line-height: 35px;
		display: inline-block;
		vertical-align: top;
		&:before {
			content: "\f03e";
			font-family: FontAwesome;
		}
		&.small-image {
			font-size: 0.8rem;
		}
		&.large-image {
			font-size: 1.3rem;
		}
	}
	
	.icon-rotate-left {
		cursor: pointer;
		&:before {
			content: "\f0e2";
			font-family: FontAwesome;
		}
	}
	.icon-rotate-right {
		cursor: pointer;
		&:before {
			content: "\f01e";
			font-family: FontAwesome;
		}
	}
	
	
	body.subpage {
		#top {
			height: $headerHeightMin;
			background: $secondary-color; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient($secondary-color, $dark-seconary); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient($secondary-color, $dark-seconary); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient($secondary-color, $dark-seconary); /* For Firefox 3.6 to 15 */
			background: linear-gradient($secondary-color, $dark-seconary); /* Standard syntax */
			.logo {
				line-height: $headerHeightMin;
				background-position: 0 -5px;
				background-size: 191px 118px;
			}
			.nav {
				line-height: $headerHeightMin;
				ul {
					margin: 0;
					li {
						line-height: $headerHeightMin;
						a {
							color: $white;
						}
					}
				}
			}
			&.minimized {
				.logo {
					background-position: 0 -5px;
				}
			}
		}
	}
	
	#top {
		position: absolute;
		width: 100%;
		height: $headerHeightMin;
		/*box-shadow: 0 0 4px rgba(0,0,0,0.3);
		background-color: $white;*/
		z-index: 999;
		.tab_1, .tab_2 {
			float: left;
			height: $headerHeightMin;
		}
		.tab_1 {
			width: 180px;
			border-right: 2px solid $border-color;
		}
		.tab_2 {
			width: 200px;
			padding-left: 2rem; 
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			opacity: 0.2;
			&:hover {
				opacity: 1;
			}
		}
		
		.logo {
			display: block;
			line-height: $headerHeightMin;
			background-image: url(../images/static/mesterbedrifter-logo4.png);
			background-repeat: no-repeat;
			background-position: left center;
			span {
				display: block;
				overflow: hidden;
				text-indent: -9999px;
			}
		}
		.logo_2 {
			display: block;
			line-height: $headerHeightMin;
			background-image: url(../images/static/godkjente_elektrikere_logo_top_tmp.png);
			background-repeat: no-repeat;
			background-size: 100px 28px;
			background-position: left center;
			span {
				display: block;
				overflow: hidden;
				text-indent: -9999px;
			}
		}
		nav {
			line-height: $headerHeightMin;
			text-align: right;
			ul {
				margin: 0;
				li {
					list-style-type: none;
					display: inline-block;
					margin-left: 30px;
					line-height: $headerHeightMin;
					a {
						span {
							display: inline-block;
							margin-left: 5px;
						}
					}
				}
			}
		}
		#mainNav {
			max-height: 0;
			overflow: hidden;
			@include transition(max-height, 0.3s);
			ul {
				margin: 0;
				background-color: $secondary-color;
				padding: 0 20px;
				li {
					text-align: left;
					font-size: 0.9rem;
					list-style-type: none;
					display: block;
					line-height: 1.5rem;
					margin-left: 0;
					
					h5, h6 {
						color: $white;
						padding-top: 20px;
						margin: 0;
					}
					a {
						display: block;
						padding: 3px;
						i.fa {
							color: $white;
							margin-right: 5px;
						}
						&.linkIcon {
							&:before {
								color: $white;
							}
						}
					}
					&:last-child {
						padding-bottom: 20px;
					}
					ul {
						li {
							border-bottom: 1px solid rgba(255,255,255,0.2);
							&:last-child {
								padding-bottom: 0;
							}
							&:hover {
								background-color: $light-background;
								a {
									color: $secondary-color;
									&.linkIcon {
										&:before {
											color: $tertiary-color;
										}
									}
								}
							}
						}
					}
					
				}
			}
			&.open {
				max-height: 1000px;
			}
		}
	}
	
	
	.standardSearch {
		margin-bottom: 5px;
		.textSearch {
			width: 90%;
			float: left;
			input {
				margin-bottom: 0;
			}
		}
		.searchButton {
			width: 8%;
			float: right;
			.button {
				width: 100%;
				margin-bottom: 0;
				text-align: center;
				background-color: $secondary-color;
				i.fa {
					color: $white;
					font-size: 0.9rem;
					margin-right: 0;
				}
				&:hover {
					background-color: $dark-seconary;
				}
			}
		}
	}
	
	#searchToggle {
		display: block;
		font-size: 0.8rem;
		&:before {
			content: "\f105";
			font-family: FontAwesome;
			color: $tertiary-color;
			width: 10px;
			display: inline-block;
		}
	}
	#searchToggle.active {
		&:before {
			content: "\f107";
		}
	}
	
	.advancedSearch {
		max-height: 0;
		overflow: hidden;
		@include transition(max-height, 0.3s);
		.branchSelect {
			width: 32%;
			float: left;
			margin-right: 2%;
			select {
				margin-bottom: 0;
			}
		}
		.areaSelect {
			width: 32%;
			float: left;
			margin-right: 2%;
			select {
				margin-bottom: 0;
			}
		}
		.placeSelect {
			width: 32%;
			float: left;
			select {
				margin-bottom: 0;
			}
		}
		&.open {
			max-height: 200px;
		}
	}
	
	
	#frontBanner {
		height: 70vh;
		min-height: 550px;
		max-height: 800px;
		/*background-image: url(../images/backgrounds/voks_segl2-3.jpg);*/
		background-position: center top !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-color: $light-background;
		
		#frontSearchBox {
			margin-top: 12%;
			.searchBoxText {
				h1 {
					color: $secondary-color;
					text-align: center;
					margin: 0 0 10px 0;
					/*text-shadow: 0 0 2px rgba(0,0,0,0.7);*/
					font-size: 3.2rem;
				}
				p {
					text-align: center;
					color: $secondary-color;
					/*text-shadow: 0 0 2px rgba(0,0,0,0.7);*/
					font-size: 1.3rem;
				}
			}
			.searchBoxFields {
				background-color: rgba(0,0,0,0.5);
				a {
					color: $white;
				}
				#searchToggle {
					&:before {
						color: $white;
					}
				}
				.standardSearch {
					.searchButton {
						.button {
							background-color: $white;
							line-height: 1rem;
							i.fa {
								color: $tertiary-color;
								margin-right: 0;
							}
							&:hover {
								background-color: $secondary-color;
								i.fa {
									color: $white;
									margin-right: 0;
								}
							}
						}
					}
				}
			}
			
			#secondaryCta {
				margin-top: 40px;
				background-color: rgba(0,0,0,0.3);
				p {
					color: $white;
					a {
						color: $white;
					}
					a.cta2 {
						display: inline-block;
						padding: 5px;
						/*border: 1px dotted $white;*/
					}
				}
			}
			
		}
	}
	
	#frontCampaigns {
		background-color: $light-background;
		padding: 40px 0 30px 0;
		.articleListImg {
			background-color: $white;
		}
		.articleListTxt {
			p {
				margin-bottom: 0;
				a {
					color: $secondary-color;
				}	
			}
		}
	}
	
	#subpageBanner {
		padding-top: $headerHeightMin;
		height: 140px;
		background-color: $light-background;
		box-shadow: 0 0 4px rgba(0,0,0,0.0);
		#subPageHeader {
			h1 {
				text-transform: uppercase;
				margin-top: 1.8rem;
				font-size: 1.8rem;
			}
		}
		#subPageSearch {
			.standardSearch {
				padding: 20px 20px 0 20px;
			}
			#searchToggle {
				padding: 0 20px;
			}
			.advancedSearch {
				z-index: 998;
				background-color: $light-background;
				position: absolute;
				width: 94%;
				.searchInner {
					padding: 0 20px 20px 20px;
				}
			}
		}
		&.minimized {
			position: fixed;
			padding-top: $headerHeightMin;
			width: 100%;
			z-index: 998;
			height: 140px;
			box-shadow: 0 0 4px rgba(0,0,0,0.3);
			@include transition(height, 0.3s);
			@include transition(padding-top, 0.3s);
			@include transition(box-shadow, 0.3s);
		}
	}
	
	.topList, .ratingList, .infoArticle, .tipsBox
	{
		min-height: 100px;

		h4, h5
		{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border-color;
			i.fa {
				color: $tertiary-color;
				font-size: 1rem;
				width: 25px;
				height: 25px;
				display: inline-block;
				border: 2px solid $primary-color;
				vertical-align: top;
				line-height: 20px;
				border-radius: 25px 25px 25px 25px;
				text-align: center;
			}
		}
	}
	
	.tipsBox {
		p {
			font-size: 0.9rem !important;
		}
	}
	
	.topList {
		ul {
			margin: 0;
			li {
				list-style-type: none;
				padding-bottom: 10px;
				margin-bottom: 11px;
				border-bottom: 1px solid $border-color;
				clear: both;
			}
		}
	}
	
	.ratingList {
		.companyName {
			width: 60%;
			float: left;
			a {
				display: block;
			}
		}
		.companyRating {
			width: 40%;
			float: left;
			text-align: right;
			i.fa {
				color: $tertiary-color;
			}
		}
		.companyCategory {
			float: none;
			width: 100%;
			a {
				font-size: 0.85rem;
				margin-right: 15px;
				&.linkIcon {
					&:before {
						width: auto;
						margin-right: 5px;
					}
				}
			}
		}
		
		ol {
			li {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid $border-color;
				clear: both;
			}
		}
		ul {
			margin: 0;
			li {
				list-style-type: none;
				padding-bottom: 12px;
				margin-bottom: 12px;
				border-bottom: 1px solid $border-color;
				clear: both;
				&:hover {
					.companyName {
						a {
							color: $secondary-color;
						}
					}
				}
			}
		}
		
	}
	
	
	
	#focusBanner {
		background-color: $light-background;
		#focusBoxes {
			background-color: $light-background;
			margin-top: -60px;
			padding: 20px 20px 0 20px;
			text-align: center;
			.focusImg {
				height: 130px;
				background-color: $light-background;
				margin-bottom: 10px;
			}
			ul#branchFront {
				font-size: 0;
				li {
					display: inline-block;
					float: none;
					font-size: 1rem;

					.branchBox
					{
						border: 1px solid $border-color;
						background-color: $white;
						@include transition(all, 0.3s);

						> a
						{
							display: block;
							padding: 15px;
						}

						.icon {
							i.fa {
								width: 60px;
								height: 60px;
								line-height: 60px;
								/*border: 1px solid $iron;
								border-radius: 80px 80px 80px 80px;
								background-color: $white;*/
								font-size: 2.4rem;
								/*margin-bottom: 15px;*/
							}
						}
						h4 {
							text-transform: uppercase;
							font-size: 1.2rem;
							margin-bottom: 0;
							word-break: break-all;
						}
					}
					&:hover {
						.branchBox {
							background-color: $smoke;
							.icon {
								i.fa {
									color: $tertiary-color;
								}
							}
							
						}
					}
				}
			}
			
		}
	}
	
	#frontArticles {
		.articleListBox {
			.articleListImg {
				height: 180px;
			}
			.articleListTxt {
				p {
					a {
						color: $link-color;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			
		}
	}
	
	.content {
		padding: 60px 0 60px 0;
		
		.sortBtns {
			text-align: right;
			button {
				i.fa {
					font-size: 0.9rem;
					color: $tertiary-color;
					margin-right: 0;
				}
			}
		}
		
		&#minSideContent {
			
			#minSideLogIn {
				.textBox {
					min-height: 140px;
					p {
						font-size: 0.9rem;
					}
				}
				.formBox {
					input[type="submit"] {
						margin-bottom: 0;
					}
				}
			}
			
			#basisInfo {
				margin-bottom: 20px;
				ul {
					margin: 0;
					border: 1px solid $smoke;
					li {
						list-style-type: none;
						padding: 5px 10px;
						border-bottom: 1px solid $smoke;
						&:nth-child(odd) {
							background-color: $white;
						}
					}
				}
			}
			
			.profileBox {
				padding: 15px;
				border: 1px solid $border-color;
				.profileImg {
					text-align: center;
					margin-bottom: 15px;
					.imgBox {
						margin: 0 auto;
						background-color: $border-color;
						width: 120px;
						height: 120px;
						border-radius: 120px 120px 120px 120px;
						overflow: hidden
					}
				}
				p {
					i.fa {
						width: 20px;
						display: inline-block;
					}
				}
			}
			
			#formBox {
				.logoContainer {
					height: 300px;
					border: 1px solid $border-color;
					position: relative;
					overflow: hidden;
					background-color: $white;
					margin-bottom: 10px;
					#image-cropper {
						.cropit-preview {
							margin: 15px auto 0 auto;
							background-color: rgba(255,255,255,0.5);
							background-image: url(../images/static/last_opp_logo.png);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;
							width: 300px;
							height: 150px;
							margin-bottom: 10px;
						}
						.controls-wrapper {
							text-align: center;
						}
						.imgUpload {
							text-align: center;
						}
					}
					
				}
				
				.imageContainer {
					height: 380px;
					border: 1px solid $border-color;
					position: relative;
					overflow: hidden;
					background-color: $white;
					margin-bottom: 10px;
					#image-cropper {
						.cropit-preview {
							margin: 15px auto 0 auto;
							background-color: rgba(255,255,255,0.5);
							background-image: url(../images/static/last_opp_portrettbilde.png);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;
							width: 220px;
							height: 220px;
							margin-bottom: 10px;
						}
						.controls-wrapper {
							text-align: center;
						}
						.imgUpload {
							text-align: center;
						}
					}
				}
				
				.uploadBtn {
					padding: 10px 15px;
					width: 100%;
					background-color: $base;
				}
				textarea {
					min-height: 200px;
					height: auto;
				}
				
				.registeredContacts {
					
					.listBox {
						margin-bottom: 40px;
						ul {
							margin: 0;
							li {
								list-style-type: none;
								padding: 15px;
								margin-bottom: 10px;
								.contactBox {
									position: relative;
									.contactDelete {
										position: absolute;
										right: -20px;
										top:-25px;
										i.fa {
											color: $alert-color;
											width: 20px;
											height: 20px;
											border-radius: 20px;
											text-align: center;
											line-height: 20px;
											background-color: $white;
										}
									}
									.contactProfile {
										width: 60%;
										float: left;
										.contactImage {
											width: 25%;
											margin-right: 5%;
											float: left;
										}
										.contactInfo {
											h5 {
												margin: 0;
											}
											.contactTitle {
												margin-bottom: 10px;
												display: block;
											}
											i.fa {
												width: 15px;
												display: inline-block;
												text-align: center;
												margin-right: 5px;
											}
										}
									}
									.contactStatus {
										width: 30%;
										float: left;
										position: relative;
									}
									.button {
										position: absolute;
										bottom: 0;
										right: 0;
										padding: 10px 15px;
									}
								}
								&:hover {
									background-color: $white;
								}
								&:nth-child(odd) {
									background-color: rgba(255,255,255,1);
									&:hover {
										background-color: $white;
									}
								}
								&:nth-child(even) {
									background-color: rgba(255,255,255,0.5);
									&:hover {
										background-color: $white;
									}
									.contactBox {
										.contactDelete {
											i.fa {
												background-color: rgba(255,255,255,0.5);
											}
										}
									} 
								}
							}
						}
					}
				}
				.addContact {
					.addContactBox {
						
						#image-cropper {
							.cropit-preview {
								margin: 15px auto 0 auto;
								background-color: rgba(255,255,255,0.5);
								background-image: url(../images/static/last_opp_portrettbilde.png);
								background-repeat: no-repeat;
								background-position: center center;
								background-size: cover;
								width: 150px;
								height: 150px;
								margin-bottom: 10px;
							}
							.controls-wrapper {
								text-align: center;
							}
							.imgUpload {
								text-align: center;
							}
						}
					}
				}
			}
			
			
			.buttonRow {
				margin-bottom: 40px;
				.button {
					margin: 0;
					padding: 10px 20px 10px 15px;
					i.fa {
						font-size: 1.5rem;
						vertical-align:middle;
						margin-right: 5px;
					}
				}
				#formSubmit {
					.button {
						background-color: $tertiary-color;
					}
				}
			}
			
			.depList {
				.depContainer {
					border-bottom: 1px solid $border-color;
					padding: 10px 10px 8px 10px;
					background-color: rgba(255,255,255,0.5);
					margin-bottom: 10px;
					.depInfo {
						width: 94%;
						margin-right: 1%;
						float: left;
						span {
							margin-right: 15px;
							padding-right: 15px;
							border-right: 1px solid $border-color;
						}
						.depName {
							width: 49%;
							margin-right: 1%;
							float: left;
							font-weight: bold;
						}
						.depAdress {
							width: 50%;
							float: left;
						}
						.depZip {
							width: 10%;
							margin-right: 1%;
							float: left;
						}
						.depPlace {
							width: 35%;
							margin-right: 1%;
							float: left;
						}
						.depPhone {
							width: 12%;
							margin-right: 1%;
							float: left;
						}
						.depEmail {
							width: 40%;
							
							float: left;
						}
					}
					.depDel {
						width: 5%;
						float: left;
						text-align: center;
					}
				}
				input {
					border: 1px solid $border-color;
					background: #FFF;
					box-shadow: none;
					margin-bottom: 1%;
				}
			}
			
			a.addListItem, a.addServiceItem{
				display: inline-block;
				padding: 5px 0;
				font-weight: bold;
			}
			
			.addServiceList {
				.addServiceContainer {
					border-bottom: 1px solid $border-color;
					padding: 5px 10px 0 10px;
					background-color: rgba(255,255,255,0.5);
					margin-bottom: 10px;
					input, textarea {
						border: 1px solid $border-color;
						background: #FFF;
						box-shadow: none;
						margin-bottom: 2%;
					}
					textarea {
						min-height: 120px !important;
					}
				}
			}
			
			.companyServicesList {
				.defaultServices {
					margin-bottom: 30px;
					ul {
						margin-bottom: 15px;
						li {
							padding-top: 3px;
							padding-bottom: 3px;
							a {
								&:before {
									content: "\f046";
									font-family: FontAwesome;
									margin-right: 5px;
									color: $base;
								}
							}
							&:hover {
								a {
									&:before {
										color: $tertiary-color;
									}
								}
							}
						}
					}
				}
				ul {
					li {
						padding-bottom: 0;
						position: relative;
						.serviceInfoBox {
							position: absolute;
							z-index: 9999;
							bottom: 30px;
							left: 0;
							width: 300px;
							max-height: 0;
							overflow: hidden;
							opacity: 0;
							@include transition(max-height, 0.5s);
							@include transition(opacity, 0.5s);
							&#infobox1 {
								max-height: 500px;
							}
							.serviceInfoBoxInner {
								position: relative;
								padding: 5px 5px 0 5px;
								.servieceInfoBoxTxt {
									background-color: $border-color;
									padding: 15px;
									box-shadow: 0 0 3px rgba(0,0,0,0.3);
									border-radius: 6px 6px 6px 6px;
									p {
										margin-bottom: 0;
										font-size: 0.9rem;
									}
								}
								.serviceInfoBoxArrow {
									width: 60px;
									height: 19px;
									background-image: url(../images/static/info_arrow_down.png);
									background-repeat: no-repeat;
									background-position: center top;
								}
							}
							&.open {
								max-height: 500px;
								opacity: 1;
							}
						}
						
					}
				}
			}
			
			.placeList {
				ul {
					margin: 0;
					li {
						float: left;
						width: 33.33%;
						list-style-type: none;
						border-bottom: 1px solid $border-color;
						padding: 5px;
						&.level1 {
							font-weight: bold;
							background-color: rgba(255,255,255,0.5)
						}
						&.level2 {
							
						}
						input {
							margin-bottom: 0;
						}
					}
				}
			}
			
			.placeSelect {
				margin-bottom: 20px;
				input.button {
					height: auto;
					margin-bottom: 0;
					padding: 0;
					text-align: center;
					width: 100%;
					line-height: 33px;
				}
			}
			
			.selectedPlaces {
				ul {
					margin: 0;
					li {
						padding-top: 5px;
						padding-bottom: 5px;
						border-bottom: 1px solid $border-color;
						background-color: rgba(255,255,255,0.5);
					}
				}
			}
			
			#pageContent {
				ul {
					li {
						.iconBox {
							text-align: center;
							margin-bottom: 15px;
							i.fa {
								color: $tertiary-color;
								font-size: 3rem;
								margin-bottom: 10px;
								width: 110px;
								height: 110px;
								line-height: 110px;
								border: 2px solid $border-color;
								border-radius: 110px 110px 110px 110px;
							}
							p {
								font-size: 0.9rem;
							}
						}
					}
				}
			}
			
		}
		
		
		&#subPageContent {
			.mainImg {
				width: 45%;
				float: right;
				margin-left: 5%;
				margin-bottom: 2%;
				.imgBox {
					width: 100%;
					background-color: $light-background;
					margin-bottom: 5px;
		
				}
				p {
					font-size: 0.9rem;
					padding: 10px;
					background-color: $light-background;
				}
			}
		}
		
		&#subPageArticles {
			padding: 30px 0;
			.articleBox {
				border: 1px solid $border-color;
				padding: 15px;
			}
		}
		
		.branchList {
			padding: 50px 0 0 0;
			h2 {
				padding: 0 0 10px 0;
				margin: 0 0 15px 0;
				border-bottom: 1px solid $border-color;
			}
			ul {
				li {
					padding-bottom: 10px;
					
					a {
						display: block;
						.branchBox {
							background-color: $light-background;
							border: 1px solid $border-color;
							text-align: center;
							vertical-align: middle;
							font-weight: bold;
							padding: 15px;
							@include transition(all, 0.3s);
							span {
								font-weight: normal;
								font-size: 0.9rem;
								color: $secondary-color;
								&::before {
									content: "(";
									font-weight: normal;
								}
								&::after {
									content: ")";
									font-weight: normal;
								}
							}
						}
					}
					&:hover {
						a {
							.branchBox {
								background-color: $secondary-color;
								color: $white;
								span {
									color: $border-color;
								}
							}
						}
					}
				}
			}
		}
		
		.contentBox {
			max-height: 400px;
			overflow: hidden;
			@include transition(max-height, 0.3s);
			padding-bottom: 70px;
			&.open {
				max-height: 5000px;
			}
		}
		
		.readMoreToggle {
			position: absolute;
			bottom: 0;
			width: 100%;
			.linkBox {
				height: 40px;
				line-height: 40px;
				z-index: 9;
				text-align: center;
				background-color: #FFF;
				a {
					font-size: 1.1rem;
					font-weight: bold;
					span.moreLink {
						display: block;
					}
					span.lessLink {
						display: none;
					}
				}
				&.active {
					a {
						span.moreLink {
							display: none;
						}
						span.lessLink {
							display: block;
						}
					}
				}
			}
		}
		
		.gradientBox {
			height: 40px;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%);
		}
		
		
		#pageContent {
			.labelTitle {
				width: 30px;
				display: inline-block;
				i.fa {
					color: $tertiary-color;
				}
			}
			.companyCta {
				margin-top: 30px;
				.button {
					background-color: $secondary-color;
				}
			}
			
			#companyContacts {
				margin-top: 30px;
				margin-bottom: 30px;
				.profileBox {
					padding: 15px;
					border: 1px solid $border-color;
					.profileImg {
						width: 25%;
						margin-right: 5%;
						float: left;
					}
					.profileTxt {
						width: 70%;
						float: left;
						p {
							margin-bottom: 0;
						}
					}
				}
			}
			
			.socialShare {
				text-align: right;
				margin-bottom: 15px;
				height: 40px;
			}
			
			.campaignBox {
				margin-bottom: 40px;
				border: 1px solid $border-color;
				padding: 15px 0;
				background-color: $light-background;
				ul {
					li {
	
					}
				}
				.campaignText {
					float: left;
					width: 48%;
					padding: 0 1% 0 3%;
					font-size: 0;
					p {
						font-size: 0.9rem;
					}
				}
				.campaignImg {
					float: left;
					width: 48%;
					margin-left: 2%;
					font-size: 0;
					height: 250px;
					overflow: hidden;
					position: relative;
					img {
						position: absolute;
						top: -100%;
						right: -100%;
						bottom: -100%;
						left: -100%;
						margin: auto;
						min-width: 100%;
						min-height: 100%;
						max-height: none;
						max-width: 100%;
						width: 100%;
						height: auto;
						
					}
				}
			}
			
			.companyServicesList {
				ul {
					li {
						padding-bottom: 5px;
						position: relative;
						.serviceInfoBox {
							position: absolute;
							z-index: 9999;
							bottom: 20px;
							left: -45%;
							width: 300px;
							max-height: 0;
							overflow: hidden;
							opacity: 0;
							@include transition(max-height, 0.5s);
							@include transition(opacity, 0.5s);
							&#infobox1 {
								max-height: 500px;
							}
							.serviceInfoBoxInner {
								position: relative;
								padding: 5px 5px 0 5px;
								.servieceInfoBoxTxt {
									background-color: $border-color;
									padding: 15px;
									box-shadow: 0 0 3px rgba(0,0,0,0.3);
									border-radius: 6px 6px 6px 6px;
									p {
										margin-bottom: 0;
										font-size: 0.9rem;
									}
								}
								.serviceInfoBoxArrow {
									width: 100%;
									height: 19px;
									background-image: url(../images/static/info_arrow_down.png);
									background-repeat: no-repeat;
									background-position: center top;
								}
							}
						}
						&:hover {
							.serviceInfoBox {
								max-height: 500px;
								opacity: 1;
							}
						}
						input {
							margin-bottom: 0;
						}
					}
				}
			}
			
			#companyInfo {
				margin-bottom: 40px;
				
			}
			
			#projectsList {
				margin-bottom: 40px;
				h4 {
					padding-bottom: 10px;
					border-bottom: 1px solid $border-color;
					margin:0 0 20px 0;
				}
				.thumbBox {
					height: 120px;
					overflow: hidden;
					position: relative;
					img {
						position: absolute;
						top: -100%;
						right: -100%;
						bottom: -100%;
						left: -100%;
						margin: auto;
						min-height: 100%;
						max-width: none;
						height: auto;
						width: 200px;
					}
				}
			}
			
			.companyRating {
				i.fa {
					font-size: 1.5rem;
					margin-right: 5px;
				}
			}
			.companyLogo {
				.logoContainer {
					height: 200px;
					border: 1px solid $border-color;
					position: relative;
					overflow: hidden;
					
					img {
						position: absolute;
						top: -100%;
						right: -100%;
						bottom: -100%;
						left: -100%;
						margin: auto;
						max-width: 95%;
						max-height: 95%;
						height: auto;
						width: auto;
					}
				}
				.certificationLogos {
					margin-top: 20px;
					margin-bottom: 40px;
					width: 100%;
					float: right;
					text-align: right;
					ul {
						margin: 0;
						li {
							list-style-type: none;
							display: inline-block;
							position: relative;
							
							width: 32%;
							.logoInfoBox {
								position: absolute;
								text-align: left;
								z-index: 9999;
								bottom: 90px;
								left: -110%;
								width: 350px;
								max-height: 0;
								overflow: hidden;
								opacity: 0;
								@include transition(max-height, 0.5s);
								@include transition(opacity, 0.5s);
								.logoInfoBoxInner {
									position: relative;
									padding: 5px 5px 0 5px;
									.logoInfoBoxTxt {
										background-color: $border-color;
										padding: 15px;
										box-shadow: 0 0 3px rgba(0,0,0,0.3);
										border-radius: 6px 6px 6px 6px;
										p {
											margin-bottom: 0;
											font-size: 0.9rem;
										}
									}
									.logoInfoBoxArrow {
										width: 100%;
										height: 19px;
										background-image: url(../images/static/info_arrow_down.png);
										background-repeat: no-repeat;
										background-position: center top;
									}
								}
							}
							&:hover {
								.logoInfoBox {
									max-height: 500px;
									opacity: 1;
								}
							}
						}
					}
				}
			}
			#companyRatings {
				max-height: 400px;
				overflow: hidden;
				padding-bottom: 40px;
				position: relative;
				
				margin-bottom: 40px;
				@include transition(max-height, 0.5s);
				h4 {
					padding-bottom: 10px;
					border-bottom: 1px solid $border-color;
					margin:0 0 20px 0;
				}
				ul {
					li {
						border-bottom: 1px solid $border-color;
						margin-bottom: 20px;
					}
				}
				.ratingBox {
					.userInfo {
						width: 20%;
						float: left;
						text-align: center;
						.userImg {
							margin: 10px auto;
							width: 90px;
							height: 90px;
							background-color: $light-background;
							border-radius: 90px 90px 90px 90px;
							overflow: hidden;
							box-shadow: 0 0 2px rgba(0,0,0,0.5);
							position: relative;
							img {
								position: absolute;
								top: -100%;
								right: -100%;
								bottom: -100%;
								left: -100%;
								margin: auto;
								width: 100%;
								height: auto;
								min-width: 100%;
							}
						}
						.userTxt {
							font-size: 0.9rem;
						}
					}
					.ratingText {
						width: 78%;
						float: right;
					}
				}
				.moreRatingsToggle {
					position: absolute;
					bottom: 0;
					height: 100px;
					line-height: 60px;
					z-index: 9;
					text-align: center;
					background: transparent;
					.linkBox {
						background-color: #FFF;
					}
					a {
						span.moreLink {
							display: block;
						}
						span.lessLink {
							display: none;
						}
					}
				}
				&.open {
					max-height: 2000px;
					.moreRatingsToggle {
						a {
							span.moreLink {
								display: none;
							}
							span.lessLink {
								display: block;
							}
						}
					}
				}
			}
			
		}
		
		.subMenu {
			ul {
				margin: 0;
				li {
					list-style-type: none;
					h5, h6 {
						border-bottom: 3px solid $border-color;
					}
					ul {
						margin: 0 0 30px 0;
						li {
							a {
								
							}
							&.active, &:hover {
								background-color: $white;
								a {
									color: $secondary-color;
								}
							}
						}
					}
				}
			}
		}
		
		.msMenu {
			ul {
				margin: 0 0 20px 0;
				li {
					list-style-type: none;
					margin-bottom: 0;
					border: 1px solid $smoke;
					@include transition(background-color, 0.5s);
					background-color: $white-smoke;
					margin-bottom: 20px;
					a {
						display: block;
						padding: 10px;
						font-weight: 500;
						&.linkIcon {
							&:before {
								margin-right: 5px;
							}
						}
					}
					&.active, &:hover {
						background-color: $white-smoke;
					}
					ul {
						margin: 0;
						li {
							border-top: 1px solid $smoke;
							border-bottom: none;
							border-left: none;
							border-right: none;
							background-color: $white;
							padding-left: 15px;
							margin-bottom: 0;
							a {
								font-weight: 300;
							}
							&.active, &:hover {
								background-color: $white;
								a {
									color: $tertiary-color;
								}
							}
						}
					}
				}
			}
		}
		
		.rBox {
			margin-bottom: 40px;
			
			h5, h4 {
				margin: 0 0 15px 0;
				padding: 0 0 10px 0;
				border-bottom: 3px solid $border-color;
				letter-spacing: 0.015rem;
			}
				
		}
		
		#rightCol {
			background-color: $light-background;
			padding-top: 30px;
			padding-bottom: 30px;
			
			
			.filterList {
				
				ul {
					margin: 0;
					li {
						list-style-type: none;
						padding-bottom: 0;
						font-size: 0.9rem;
						padding: 3px 0;
						border-bottom: 1px solid $light-background;

						label
						{
							font-size: 13.5px;
							font-weight: 500;
							color: #777;
						}

						input[type="checkbox"] {
							margin-right: 5px;
							margin-bottom: 0;
						}
						ul {
							li {
								padding-left: 20px;
								&:first-child {
									border-top: 1px solid $light-background;
								}
								&:last-child {
									border-bottom: none;
								}
							}
						}
					}
				}
			}
			
			.articleBox {
				padding: 15px 15px 0 15px;
				border: 2px solid $border-color;
				p {
					font-size: 0.9rem;
				}
				a {
					text-decoration: underline;
				}
			}
			
			.branchInfoBox {
				padding: 5px 15px;
				border: 2px solid $border-color;
				p {
					font-size: 0.9rem;
				}
			}
			
			.ratingList {
				ol {
					li {
						padding-bottom: 5px;
						margin-bottom: 5px;
						border-bottom: 1px solid $border-color;
					}
				}
				.companyName {
					width: 65%;
					float: left;
					a {
						font-size: 0.8rem;
						display: block;
					}
				}
				.companyRating {
					width: 35%;
					float: left;
					text-align: right;
				}
				.companyCategory {
					width: 100%;
					float: none;
				}
				
				
			}
		}
		
		
		
		ul#listContainer
		{
			list-style: none;
			margin: 0;

			>li {
				padding-right: 0;
				padding-left: 0;
			}
			li {
				.listBox {
					border: 1px solid $border-color;
					&.category1 {
						border: 3px solid $border-color;
					}
					&.category2 {
						border: 1px solid $border-color;
					}
					&.category3 {
						border-top: none;
						border-right: none;
						border-bottom: 1px solid $border-color;
						border-left: none;
					}
					.certificationLogos {
						width: 100%;
						float: right;
						text-align: right;
						ul {
							margin: 0;
							font-size: 0;
							li {
								list-style-type: none;
								display: inline-block;
								width: 32%;
							}
						}
					}
					.logoBox {
						margin-bottom: 20px;
						padding: 20px 0;
					}
					.companyRating {
						margin-bottom: 10px;
						i.fa {
							color: $tertiary-color;
							font-size: 1rem;
						}
					}
					.listTextBox {
						padding-top: 15px;
					}
					.listServicesBox {
						ul {
							font-size: 0;
							margin: 0;
							li {
								font-size: 0.9rem;
								padding-bottom: 0;
								list-style-type: none;
								display: inline-block;
								margin-right: 25px;
								margin-bottom: 5px;
							}
						}
					}
					.listGalleryBox {
						padding-bottom: 20px;
						ul {
							margin: 0;
							font-size: 0;
							li {
								list-style-type: none;
								width: 16%;
								margin-right: 0.6666%;
								display: inline-block;
								font-size: 1rem;
								.thumbBox {
									height: 80px;
									overflow: hidden;
									position: relative;
									img {
										position: absolute;
										top: -100%;
										right: -100%;
										bottom: -100%;
										left: -100%;
										margin: auto;
										max-height: none;
										min-height: 100%;
										min-width: 100%;
										width: 100%;
										height: auto;
									}
								}
							}
						}
					}
				}
				&.mix {
					display: none;
				}
				ul {
					li {
						width: auto;
					}
				}
			}
		}
		
	}
	
	
	.frontBranches {
		padding: 60px 0;
		background-color: $light-background;
		/*h3 {
			text-transform: uppercase;
			margin: -40px 0 15px 0;
			text-align: center;
			color: $base;
			border-bottom: 1px solid $border-color;
		}*/
		
		ul#branchList {
			list-style-type: none;
			
			li {
				padding-bottom: 0px;
				margin-bottom: 40px;
				h4 {
					a {
						font-size: 1.3rem !important;
					}
					text-transform: uppercase;
					border-bottom: 1px solid $border-color;
				}
				a.branchListItem {
					display: block;
					padding: 3px 5px;
					font-size: 0.9rem;
					
					&:hover {
						
					}
				}
				a.moreToggle {
					display: block;
					font-size: 0.85rem;
					background-color: $border-color;
					padding: 5px 0;
					text-align: center;
					span {
						display: inline;
							&:after {
							content: "\f107";
							font-family: FontAwesome;
							color: $secondary-color;
							margin-left: 5px;
							display: inline-block;
						}
					}
					span.moreLink {
						display: block;
					}
					span.lessLink {
						display: none;
					}
					
					&.active {
						span {
							&:after {
								content: "\f106";
							}
						}
						span.moreLink {
							display: none;
						}
						span.lessLink {
							display: block;
						}
					}
				}
				ul {
					margin: 0;
					max-height: 146px;
					overflow: hidden;
					@include transition(max-height, 0.5s);
					li {
						list-style-type: none;
						border-bottom: 1px solid $border-color;
						margin-bottom: 0;
						&:hover {
							background-color: $white;
						}
					}
					&.open {
						max-height: 1500px;
					}
				}
			}
		}
	}
	
	#infoBar {
		padding: 30px 0;
		background-color: $border-color;
		span {
			color: $oil;
		}
		h3, p {
			color: $secondary-color;
		}
		
	}
	
	.infoBox {
		text-align: center;
		h3 {
			font-weight: bold;
			font-size: 2.5rem;
		}
	}
	
	#footerContainer {
		background-color: $steel;
		padding: 30px 0;
		.footerBox {
			font-size: 0.9rem;
			h4 {
				font-size: 1.2rem;
				text-transform: uppercase;
				border-bottom: 1px solid $base;
				margin: 0 0 10px 0;
				padding: 0 0 5px 0;
				color: $light-background;
			}
			ul {
				margin: 0;
				li {
					list-style-type: none;
					a {
						font-size: 0.9rem;
						color: $light-background;
						&.linkIcon:before {
							color: $white;
						}
					}
				}
			}
		}
	}


	/* Phase 2 - Quicktech */

	.pagination-container
	{
		display: none;

		ul.pagination
		{
			text-align: center;

			li
			{
				display: inline-block;
				float: none;

				&.unavailable a
				{
					opacity: .5;
				}
			}
		}
	}

	.search-results-container
	{
		min-height: 320px;
	}

	.loading
	{
		background-color: rgba( 255, 255, 255, .85 );
		display: none;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;

		i
		{
			color: #888;
			position: absolute;
			font-size: 30px;
			top: 50%;
			left: 50%;

			transform: translate( 50%, 50% );
		}
	}
}

@media #{$small} {
	
}

@media #{$small-only} {
	
}

@media #{$medium} {
	
}

@media #{$medium-only} {
	
}

@media #{$large-up} {
	body.subpage {
		#top {
			nav {
				ul {
					li {
						line-height: $headerHeightMin;
						a {
							color: $white;
							i.fa {
								color: $tertiary-color;
							}
						}
					}
				}
			}
		}
	}
	#top {
		height: $headerHeight;
		@include transition(height, 0.3s);
		@include transition(background-color, 0.3s);
		.tab_1, .tab_2 {
			height: $headerHeight;
			@include transition(height, 0.3s);
		}
		.logo {
			line-height: $headerHeight;
			background-image: url(../images/static/mesterbedrifter-logo4-sprite.png);
			background-position: 0 -90px;
			@include transition(background-position, 0.3s);
		}
		.logo_2 {
			line-height: $headerHeight;
			background-size: 143px 35px;
			@include transition(line-height, 0.3s);
		}
		nav {
			line-height: $headerHeight;
			@include transition(line-height, 0.3s);
			ul {
				margin: 0;
				li {
					line-height: $headerHeight;
					@include transition(line-height, 0.3s);
					a {
						color: $secondary-color;
					}
				}
			}
			#mainNav {
				ul {
					li {
						a {
							color: $white;
						}
					}
				}
			}
		}
		&.minimized {
			position: fixed;
			z-index: 999;
			background: $secondary-color; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient($secondary-color, $dark-seconary); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient($secondary-color, $dark-seconary); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient($secondary-color, $dark-seconary); /* For Firefox 3.6 to 15 */
			background: linear-gradient($secondary-color, $dark-seconary); /* Standard syntax */
			height: $headerHeightMin;
			.tab_1, .tab_2 {
				height: $headerHeightMin;
			}
			.logo {
				line-height: $headerHeightMin;
				background-size: 191px 118px;
				
				background-position: 0 -4px;
			}
			.logo_2 {
				line-height: $headerHeightMin;
				
			}
			nav {
				line-height: $headerHeightMin;
				ul {
					margin: 0;
					li {
						line-height: $headerHeightMin;
						a {
							color: $white;
							i.fa {
								color: $tertiary-color;
							}
						}
					}
				}
			}
		}
	}
}